body {
    background-color:rgb(88, 125, 203);
}

#heading {
    text-align:center;
    background-color:rgb(153, 208, 255);
}

img {
    border-radius:16px;
}

.myprojects {
    background-color:rgb(117, 178, 222);
    border-radius:16px;
    text-align:center;
}

a {
    color:black;
}

#followme {
    background-color:rgb(12, 121, 160);
    border-radius:16px;
    text-decoration:none;
    padding: 8px 20px;
    color:white;
    font-weight:bold;
    text-align:center;
}
.aboutme {
    background-color:rgb(153, 208, 255);
    border-radius:16px;
    text-align:center;
    padding:16px;
}
